/* */
html {
    overflow: scroll;
    
}

body {
   
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    background: rgb(228, 226, 255);
}

#header {
    align-self: center;

}

#ueberschrift {
    font-family: fantasy;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 4px 3px 0px #a8a8a8;
    color: #383838;
    font-size: 300%;
    padding-top: 2%;
}

#spieler {
    text-align: center;
    font-family: fantasy;
    font-size: 130%;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #383838;
    font-weight: 700%;
    text-decoration: none;
    font-style: normal;  
    text-transform: none;
}

#spielfeld{
    margin: auto;
    width: 70%;  
    height: 500px;
    display: flex;
    justify-content: center;
    
}

#buttons{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

/* wird auf jeden button angewendet, um ein einheitliches Bild zu erstellen */
input{   
    width: 30%;
    height: 30%;
    box-shadow:inset 4px 4px 3px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:12px;
    border:2px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:70px;
    font-weight:bold;
    padding:0% 0%;
}

/* wenn die Maus über den button hovert, wird der style verändert. Das verdeutlicht die Auswahl des Spielers */
input:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;

}
input:active {
    
    top:1px;
}

button{
    width: 400px;
    height: 100px;
    box-shadow:inset 4px 4px 3px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:12px;
    border:2px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:30px;
    font-weight:bold;
    padding:1% 1%;
    text-decoration:none;
}

button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;

}
button:active {
    position:relative;
    top:1px;
}

#img{
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}


#footer{
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: center;
}

#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}
